/* world population 101 */
/* style sheet */

html {box-sizing: border-box;}
*,*:before, *:after {box-sizing: inherit;}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}

.row:before,
.row:after {
content: " ";
display: table;
}
.row:after {
clear: both;
}



body { 
	background-color:lightcyan;
	font-family: IBM Plex Sans bold, sans-serif; 
}
.hawaii img { 
	display: block;
	margin-left: auto;
	margin-right: auto;
 	width: 70%;
 }
.hawaii ul {
	text-align: center;
	background-color: khaki;
}
.hawaii li {
	display: inline-block;
	padding: 25px;
	letter-spacing: 1px; 
	font-weight: bold;
}
.hawaii a {
	text-decoration: none;
	color: midnightblue;
}
.totpop {
	text-align: center;
	margin-top: 20px;
	display: grid;
}
#current {
	font-size: 1.5em;
}
#updated {
	font-weight: lighter;
	font-size: 1em;
}
.container {
	font-family: IBM Plex Sans bold, sans-serif; 
	font-size: 1.5em;
	text-align: center;
	margin: auto;
	display: inline;
}
h1 {
	font-family: IBM Plex Sans bold, sans-serif; 
	font-size: 1.5em;
	text-align: center;
	margin-top: 30px;
}
.col-3 img {
	width: 100%; 
	height: 100%; 
	object-fit: cover;
}
.col-4 img {
	width: 100%; 
	height: 100%; 
	object-fit: cover;
}
.col-5 img {
	width: 100%; 
	height: 100%; 
	object-fit: cover;
}

h3 { font-size: 1em;
	 }
p { font-size: .75em; }

.button a { 
		text-align: center;
		color: midnightblue;
		text-decoration: none;
		border: 4px solid khaki;
		background-color: khaki;
		border-radius: 8px;
		padding: .6em 1em;
}
.button {
		text-align: center;
		margin-top: 60px;
}

