/* grid.css */
/*  P1 Part 3  */

.col-3 {
  float: left;
  width: 33.33%;
  margin: auto;
  padding: 15px;
}
.col-3 h3 {
	margin: 10px;
}
.col-3 p {
	margin: 10px;
}
.col-4 {
  float: left;
  width: 33.33%;
  margin: auto;
  padding: 15px;
}
.col-4 h3 {
	margin: 10px;
}
.col-4 p {
	margin: 10px; }
.col-5 {
  float: left;
  width: 33.33%;
  margin: auto;
  padding: 15px;
}
.col-5 h3 {
	margin: 10px;
}
.col-5 p {
	margin: 10px;

.row:after {
  content: "";
  display: table;
  clear: both;
}