/* Project 1 Part 5 css sheet */
/*colour palette 
#FAF8F0
*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

.row:before,
.row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}
* { 
	margin: 0 ;
}
.container-fluid {
	width: 100%;
}
#home {
	max-height: 50px; 
	max-width: 50px; 
	padding-left: 1em; 
	padding-top: 1em;
}
.container {
	background-color: #FAF8F0 ;
	margin: 0 auto;
	width: 1170px;
	padding: 20px 0px 50px 0px;
}
.hero-grid { 
	display:grid; 
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: auto auto;
}
#MostExpensiveCoffee {
	grid-column-start: 1;
	grid-column-end: 7;
	grid-row-start: 4;
	grid-row-end: 6;
	z-index: 1;
}
#MostExpensiveCoffee h1 {
	font-family: 'Courier New bold', monospace;
	font-size: 4em;
}
#Kopi_luwak {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start:11;
	grid-row-end: 12;
	z-index: 1;
}
#Kopi_luwak h2 {
	font-family: 'Courier New', monospace;
	color: white;
	padding-left: .5em;
	font-size: 3em;
}
#coffee_img {
	grid-column-start: 2;
	grid-column-end: 8;
	grid-row-start: 7;
	grid-row-end: 12;
	padding-top: 15px;
}
#coffee_img img { 
	max-width: 100%;
	height: auto;
}
#cost {
	grid-column-start: 7;
	grid-column-end: 10;
	grid-row-start: 9;
	grid-row-end: 12;
}
#cost h5 {
	font-family: 'Courier New bold', monospace;
	font-size: 18px;
	background-color: #FAF8F0 ;
	padding: 20px;
}
#where {
	grid-column-start: 2;
	grid-column-end: 7;
	grid-row-start:13;
	grid-row-end: 14;
	padding: 50px 0px 50px 0px;
}
#where h2 {
	font-family: 'Courier New bold', monospace;
	font-size: 2em;
}
#civetcat_img {
	grid-column-start: 5;
	grid-column-end: 10;
	grid-row-start: 15;
	grid-row-end: 20;
}
#civetcat_img img { 
	max-width: 100%;
	height: auto;
}
#about {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 15;
	grid-row-end: 20;
}
#about h5 {
	font-family: 'Courier New bold', monospace;
	font-size: 18px;
}

